<!DOCTYPE html>
<html>
<head>
    <title>AngularJS || Controller Module Demo </title>
    <script src="js/angular.min.js"></script>
</head>

<body>
    
    <h3>AngularJS Controller &nbsp; Module:</h3>
    <p>Try to change the names:</p>

    <div ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        // Creating module
        var app = angular.module('myApp', []); 

        // Creating controller
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "Jitendra";
            $scope.lastName = "Singh";
        });
    </script>

</body>
</html>
